body{
	background: #FFEA2A;
}

#spinner{
	position:absolute;
	bottom: 2.5%;
	right: 5%;
	cursor:pointer;
	width: 512px;
	height: 512px;
	border: none;
	outline:none;
	background-size: 512px auto;
	background: url(src/client/assets/0.png);
	float: left;
	border-radius: 512px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
